<h1>Sign In</h1>
<%= form_for(:sessions, url: sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class:"text_field"%>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, class:"text_field"%>
  </div><br>
  <div class="actions">
    <%= f.submit "Login" %>
  </div>
<% end %>
<br />
<p>Don't Have an account? <%= link_to "Sign up now!", registration_path %></p>
