<p>
  <strong>Member:</strong>
  <%= @comment.member_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @comment.event_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
