<h1>
  <%= @event.name %>
</h1>

<ul class="bxslider">
  <li><%= image_tag @event.pictures.first.try(:picture).try(:url, :medium), class: "event_pictures" %></li>	
  <li><%= image_tag @event.pictures.second.try(:picture).try(:url, :medium), class: "event_pictures" %></li>	
  <li><%= image_tag @event.pictures.third.try(:picture).try(:url, :medium), class: "event_pictures" %></li>
</ul>

<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<p>
  <strong>Begin time:</strong>
  <%= @event.date_begin %>
  <%= @event.time_begin %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.date_end %>
  <%= @event.time_end %>
</p>


<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Webpage:</strong>
  <%= link_to @event.webpage, @event.webpage %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<%= link_to 'Edit', edit_event_path(@event), id:"button" %>
<%= link_to 'Back', events_path, id:"button"%>
