<p>
  <strong>Society:</strong>
  <%= @event.societies_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @event.groups_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<p>
  <strong>Begin time:</strong>
  <%= @event.begin_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>


<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Webpage:</strong>
  <%= @event.webpage %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @event.condition %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<%= image_tag @event.pictures.first.picture.url(:medium), class: "event_pictures" %>	
<%= image_tag @event.pictures.second.picture.url(:medium), class: "event_pictures" %>	
<%= image_tag @event.pictures.third.picture.url(:medium), class: "event_pictures" %>	

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
