<p id="notice"><%= notice %></p>

<%= image_tag @event.avatar.url %>
<%= image_tag @event.avatar.url(:medium) %>
<%= image_tag @event.avatar.url(:thumb) %>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<p>
  <strong>Begin time:</strong>
  <%= @event.begin_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>


<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Webpage:</strong>
  <%= @event.webpage %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @event.condition %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
