<ul class="bxslider">
  <li><%= image_tag Event.find(3).pictures.second.picture.url(:large) %></li>
  <li><%= image_tag Event.find(1).pictures.second.picture.url(:large) %></li>
  <li><%= image_tag Event.find(1).pictures.first.picture.url(:large) %></li>
  <li><%= image_tag Event.find(1).pictures.third.picture.url(:large) %></li>
</ul>

<div class="index_society">
<h2>Popular Societies</h2>
<div class="accordion">
	<% @societies.try(:each) do |society| %>
		<h3><%= society.name %></h3>
		<div>
			<%= image_tag society.try(:logo).try(:url, :small), class:"acc_img" %>
			<div lass:"acc_text">
				<p>Prisident: <%= Join.find_by_society_id_and_role(society.id,"President").member.name %></p>
				<p>No. of Members: <%= society.joins.count %></p>
				<%= society.description %>
			</div>
			<%= link_to "Details>>>", society %>
		</div>
	<% end %>	
</div>
</div>
<div class="index_event">
<h2>Hot Events</h2>
<div class="accordion">
	<% @events.try(:each) do |event| %>
		<h3><%= event.name %></h3>
		<div>
			<%= image_tag event.pictures.first.try(:picture).try(:url, :small), class:"acc_img" %>
			<div lass:"acc_text">
				<%= event.description %>
			</div>
			<%= link_to "Details>>>", [event.society, event] %>
		</div>
	<% end %>	
</div>
</div>