<ul class="bxslider">
  <li><%= image_tag "test1.jpg" %></li>
  <li><%= image_tag "test2.jpg" %></li>
  <li><%= image_tag "test3.jpg" %></li>
</ul>

<h2>Popular Societies</h2>
<div class="accordion">
	<% @societies.try(:each) do |society| %>
		<h3><%= society.name %></h3>
		<div>
			<%= image_tag society.try(:logo).try(:url, :small), class:"acc_img" %>
			<div lass:"acc_text">
				<%= society.description %>
			</div>
			<%= link_to "View", society %>
		</div>
	<% end %>	
</div>

<h2>Hot Events</h2>
<div class="accordion">
	<% @events.try(:each) do |event| %>
		<h3><%= event.name %></h3>
		<div>
			<%= image_tag event.pictures.first.try(:picture).try(:url, :medium), class:"acc_img" %>
			<div lass:"acc_text">
				<%= event.description %>
			</div>
			<%= link_to "View", [event.society, event] %>
		</div>
	<% end %>	
</div>