<h1>Listing tickets</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Price</th>
      <th>Purchase location</th>
      <th>Strat time</th>
      <th>Valid time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.event_id %></td>
        <td><%= ticket.price %></td>
        <td><%= ticket.purchase_location %></td>
        <td><%= ticket.strat_time %></td>
        <td><%= ticket.valid_time %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
