<p>
  <strong>Member:</strong>
  <%= @reservation.member.email %>
</p>

  <p>
    <strong>Event:</strong>
    <%= @event.name %>
  </p>
  <p>
    <strong>Society:</strong>
    <%= @event.society.name %>
  </p>
  <p>
    <strong>Location:</strong>
    <%= @event.location %>
  </p>
  <p>
    <strong>Avaliable Tickets:</strong>
    <%= remain_ticket(@event) %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= @event.ticket.price %>
  </p>
<p>
  <strong>Quantity:</strong>
  <%= @reservation.quantity %>
</p>

<%= link_to 'Edit', [:edit, @society, @event, @reservation], id: "button" %> <br />
