<tr>
  <td>
  	<% if locked?(f) %>
  		<%= f.text_field :role, readonly: true %>
  	<% else %>
  		<%= f.text_field :role %>
  	<% end %>
  </td>
  <td><%= f.text_field :email %></td>
  <td><%= f.text_field :name %></td>
  <td><%= f.text_field :phone %></td>    
  <td>
  	<% if !locked?(f) %>
  		<%= link_to_remove_fields "Remove", f %>
  	<% end %>
  </td>
</tr>