<%= form_for(@society) do |f| %>
  <% if @society.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@society.errors.count, "error") %> prohibited this society from being saved:</h2>

      <ul>
      <% @society.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
  	<%= f.label :logo %><br>
  	<%= f.file_field :logo %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"text_field"%>
  </div>
  <div class="field">
    <%= f.label :register_num %><br>
    <%= f.text_field :register_num, class:"text_field"%>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.url_field :website, class:"text_field"%>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:"description_field"%>
  </div>
  
  <h3>Office Bearers</h3>  
  <table border="1">
	  <thead>
	    <tr>	      
	      <th>Name</th>
	      <th>Email</th>
	      <th>Phone</th>
	      <th>Role</th>
	      <th>Admin</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	  	<%= f.fields_for :joins do |builder| %>
			<%= render 'join_fields', :f => builder %>
  		<% end %>	
	  </tbody>	 
	  <tfoot>  		
	  	<tr>
  			<td><%= link_to_add_member "Add Bearer", f %></td>
  		</tr>  	
  	  </tfoot> 
  </table><br>
  <div class="actions">
    <%= f.submit %>
  </div>  
<% end %>
