<tr>
	<%= f.fields_for :member do |g| %>
		 <td><%= g.text_field :name %></td>
		 <td><%= g.email_field :email %></td>
		 <td><%= g.text_field :phone %>
		 <%= g.hidden_field :auto_generate, value: "1" %></td> 
	<% end %>   
	<% if locked?(f) %>
		<td><%= f.text_field :role, readonly: true %></td>
		<td><%= f.check_box :admin %></td>
	<% else %>
		<td><%= f.text_field :role %></td>
		<td><%= f.check_box :admin %></td>
		<td><%= link_to_remove_member "Remove", f %></td>
	<% end %>
</tr>