<tr>
  <td>
  	<%= f.fields_for :joins do |b| %>
  		<% @lock = locked?(b) %>
	  	<% if @lock %>
	  		<%= b.text_field :role, readonly: true %>
	  	<% else %>
	  		<%= b.text_field :role %>
	  	<% end %>
  	<% end -%>  	
  </td>  
  <td><%= f.text_field :name %></td>
  <td><%= f.text_field :email %></td>
  <td><%= f.text_field :phone %></td>    
  <td>
  	<% if !@lock %>
  		<%= link_to_remove_member "Remove", f %>
  	<% end %>
  </td>
</tr>