<h1>All Societies</h1>

<table border="1">
  <thead>
    <tr>
      <th>Society Name</th>
      <th>President</th>
      <th>No. of Members</th>
      <th>Website</th>
    </tr>
  </thead>
  <tbody>
    <% @societies.each do |society| %>
      <tr>
        <td><%= link_to society.name, society %></td>
        <td><%= Join.find_by_society_id_and_role(society.id,"President").member.name %></td>
        <td><%= society.joins.count %></td>
        <td><%= link_to society.website, society.website %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Society', new_society_path, id: "button" %>
