<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @society.name %>
</p>

<p>
  <strong>Register num:</strong>
  <%= @society.register_num %>
</p>

<p>
  <strong>Website:</strong>
  <%= @society.website %>
</p>

<p>
  <strong>Description:</strong>
  <%= @society.description %>
</p>

<%= link_to 'Edit', edit_society_path(@society) %> |
<%= link_to 'Back', societies_path %>
