<div class="login">
	<% if logged_in? %>
		<p>Welcome, <%= link_to current_member.email, current_member %> 
		<%if unread_message_count > 0 %>
			<strong><%= link_to "Messages(#{unread_message_count})", [current_member, :messages], class: "pulsate message" %></strong>
		<% else %>
			<%= link_to "Messages(#{unread_message_count})", [current_member, :messages], class: "message" %>
		<% end %>
		<%= link_to "Log Out", logout_path, id: "button" %></p>
	<% else %>
		<%= link_to "Login", login_path, id: "button" %>		
	<% end %>
</div>