<div class= "search">
	<%= form_tag("/search", method: "get") do %>
	  <%= label_tag(:search, "Search for:") %>
	  <%= select_tag(:search_method, options_for_select([["Event"], ["Society"], ["Event by society"], ["Event by type"]]), class:"select_box")%>
	  <%= search_field_tag (:search_input) %>
	  <%= submit_tag("Search") %>
	<% end %>
</div>
