<!DOCTYPE html>
<html>
<head>
  <title>SMDProject</title>
  <%= stylesheet_link_tag "blueprint/print",media: "print" %>
  <%= stylesheet_link_tag "blueprint/screen",media: "screen" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "superfish" %>
  <%= javascript_include_tag "hoverIntent" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= render 'layouts/header' %>
		<div class="menu">
			<%= render_navigation expand_all: true %>
		</div>		
		<div class="content">
		<% flash.each do |key, value| %>
			<div class="<%= key %>"> <%= value %> </div>
		<% end %>
		<%= yield %>	
		</div>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
