<!DOCTYPE html>
<html>
<head>
  <title>SMDProject</title>  
  <%= stylesheet_link_tag "blueprint/print",media: "print" %>
  <%= stylesheet_link_tag "blueprint/screen",media: "screen" %>   
  <%= stylesheet_link_tag "bootstrap",media: "all" %>  
  <%= stylesheet_link_tag "bootstrap,min",media: "all" %> 
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>    
  <%= javascript_include_tag "superfish" %>
  <%= javascript_include_tag "hoverIntent" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<div class="page">	
		<%= gflash %>
		<%= render 'layouts/header' %>	
		<div class="container">	
			<div class="row">				
				<div class="content offset4 span4">
					<%= yield %>
				</div>		
			</div>
		</div>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
