<h1>Change Password</h1>

<%= form_for @member, :url => update_password_member_path(@member) do |f| %>
	<div class="field">
		<%= f.label :old_password %><br />
		<%= f.password_field :old_password, class:"text_field"%>
	</div>
	<div class="field">
		<%= f.label :password, "New password" %><br />
		<%= f.password_field :password, class:"text_field"%>
	</div>
	<div class="field">
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation, class:"text_field"%>
	</div><br>
	<div class="actions"> 
    	<%= f.submit "Change Password" %>
  	</div>
<% end %>
