<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Student ID:</strong>
  <%= @member.student_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<%= link_to 'Edit', edit_member_path(@member), id: "button" %>

<h2>My Societies </h2>
<table>
	<thead>
	    <tr>	  	      	    
	      <th>Soicety Name</th>
	      <th>Role</th>
	      <th>Website</th>	
	      <th></th>      
	    </tr>
	</thead>
	<tbody>
		<% current_member.joins.each do |join| %>
		<tr>
			<% society = Society.find(join.society_id) %>
			<td><%= link_to society.name, society %></td>
			<td><%= join.role %></td>
			<td><%= link_to society.website, "http://#{society.website}" %></td>
			<td></td>
		</tr>		
		<% end %>
	</tbody>
</table>